<div class="container">
    <div class="row">
        <div class="col-md-6 centercol">
            <div class="jumbotron">
                <p class="deletesuccessfull">Action Successfull!!</p>
                <p><button class="btn btn-primary" (click)="gobacktohome()">Click here</button>to go back to dashboard.</p>
                    <p><button class="btn btn-success" (click)="gobacktoaddmember()">Click here</button>to create another member.</p>
              </div>
        </div>
    </div>
</div>