<app-header></app-header>
<div class="container">
    <h4>{{this.headerdesignation}}</h4>
    <hr>
    <div class="row justify-content-center"   >
      <ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="ball-scale-multiple"
      >
       <p style="font-size: 20px; color: white">Please Wait...</p>
      </ngx-spinner>
        <div class="col col-md-3 col-sm-3" *ngFor="let item of users$">
           <div class="card">
                <img class="card-img-top" src="{{item.url}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{item.fullname}}</h5>
                  <p class="card-text">{{item.designation}}</p>
                  <p class="card-text">A/C Info:{{item.bankinfo}}</p>
                  <p class="card-text">Mobile No:{{item.contactno}}</p>
                 <p><button class="btn btn-success" (click)="showdetails(item)" style="margin-left: 15%;"><i class="fa-solid fa-cube"></i>Show Details</button></p> 
                 <p><button class="btn btn-warning" (click)="updatedetails(item)" style="margin-left: 15%;"><i class="fa-solid fa-file-lines"></i>Update Details</button></p>
                </div>
              </div>
        </div>
   </div>

</div>