<div class="container">
    <div class="jumbotron">
        <div class="row">
           <div class="col col-md-5 col-sm-6">
               <img src="{{this.userpictureurl}}" class="rounded mx-auto d-block userpicture">
               <img src="{{this.usersignurl}}" class="rounded mx-auto d-block usersignpictue">
              </div>
            <div class="col col-md-7 col-sm-6">
               <h5>Name: {{  this.username}}</h5>
               <h5>Designation: {{this.userdesignation}}</h5>
               <h5>Mobile No: {{this.usermobileno}}</h5>
               <h5>Account No: {{this.userbankinfo}}</h5>
               <h5>Join Date: {{this.userjoindate}}</h5>
               <h5>Resign Date: {{this.userresigndate}}</h5>
               <h5>Address: {{this.useraddress}}</h5>
               <h5>Email: {{this.useremail}}</h5>
                <p>Essential paper check</p>
                <hr>
                <p>NID: {{this.usernid}}, All Certificates: {{this.usercertificates}},  Appointment Letter: {{this.userappointmentletter}},CV: {{this.usercv}}</p>
               <button class="btn btn-success" (click)="backtodashboard()">Back to Dashboard</button>
            </div>
    </div>
    </div>

</div>
